<!DOCTYPE html>
<html>
<head>
  <title>template-express-socketio-auth</title>
</head>
<body>

<h1>template-express-socketio-auth</h1>
<% if (username) { %>
<p>Hello, <%= username %> !</p>
<p><a href="logout">Logout</a></p>
<% } else { %>
<p><a href="login">Login</a></p>
<% } %>

<script src="/common.js"></script>
<script src="/top.js"></script>

</body>
</html>
