<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<script src="/common.js"></script>
<script src="/top.js"></script>

</body>
</html>
